body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

header {
  background-color: pink;
  height: 150px;
}

.contents {
  height: 400px;
  width: 960px;
  background-color: skyblue;
}

footer {
  background-color: pink;
  height: 50px;
}