body {
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

header {
  height: 15%;
  margin: 0 240px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: silver;
}

a:active {
  color: silver;
  ;
}

.title a{
  color: black;
}

.heading {
  width: 960px;
  margin: 0 auto;
}

.title {
  margin-top: 5px;
  font-size: 50px;
  font-family: 'Vollkorn', serif;
}

.navbar {
  width: 960px;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu {
  height: 20px;
}

.menu li {
  float: left;
  padding-right: 50px;
}

.icons{
  margin: 0 0 0 25%;
}

.contents {
  height: 80%;
}

.slides {
  height: 100%;
  width: 100%;
  position: relative;
}

.slides img {
  position: absolute;
  top: 51%;
  left: 50%;
  transform : translate(-50%,-51%);
  padding: 0;
	opacity: 0;
	transition: all 1s ease-in-out;
  height: 100%;
  width: 65%;
}

footer {
  background-color: #000;
  margin: 0 auto;
  display: flex;
}

.bottom {
  margin: 10px auto;
  color: #f0f0f0;
  display: flex;
}

.bottom li {
  padding-right: 30px;
}
